body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
}
*{
    margin: 5px;
    font-family: sans-serif;
}